/* DEF */
@function setTrans($color, $amount: 0.1) { // pos only
    @return change-color($color, $alpha: $amount);
}
@function adjTrans($color, $amount: 0.1) { // pos or neg linear
    @return adjust-color($color, $alpha: $amount);
}
@function scaTrans($color, $amount: 0.1) { // pos or neg percent
    $amount: percentage($amount);
    @return scale-color($color, $alpha: $amount);
}
@function simAlpha($color) {
    @return lighten(setTrans($color, 1), percentage(1 - alpha($color)) / 2);
}
@mixin oldAlpha($color) {
    $hex: ie-hex-str($color);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000);
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr='+$hex+', endColorstr='+$hex+')';
}
@mixin backTrans($color, $opacity: 0.5) {
    $color: adjTrans($color, $opacity);
    @include oldAlpha($color);
    /* end fallbacks */
    background-color: $color;
}
@mixin setEase($a) {
    -webkit-transition: $a;
       -moz-transition: $a;
        -ms-transition: $a;
         -o-transition: $a;
            transition: $a;
}
@mixin setTransform($a) {
     -webkit-transform: $a;
        -moz-transform: $a;
         -ms-transform: $a;
          -o-transform: $a;
             transform: $a;
}

@mixin debugWith($color) {
    border: 1px solid $color;
    margin-right: -1px;
    margin-bottom: -2px;
    margin-left: -1px;
}
@mixin test($color) {
    position: absolute;
    height: 100%;
    font-size: 400%;
    @include backTrans($color, -0.5);
}
/* absolute centering */
%abscent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}

$green: #46a033;
$red: #C00029;

.foooo {
    @include test(#cc0000);
}
// -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
// filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
// opacity: .5;
/*
    $R: red($color);
    $G: green($color);
    $B: blue($color);
    $A: alpha($color);
    r: $R;
    g: $G;
    b: $B;
    a: $A;
    ie: ie-hex-str($color);
    st: setTrans($color);
    at: adjTrans($color);
    a-5: adjTrans($color, -0.5);
    tpz: adjTrans($color, -0.1);
    tpt: adjTrans($color, -0.1);
    sim: simAlpha($color);
*/
