/* CHAMPS */

#Wrap .champs {
    @include backTrans(#5e8206, -0.2);
    top: 5%;
    margin: 2em 5%;
    min-width: 420px;
    padding: 2em;
    position: absolute;
    left: 5%;
    right: 5%;

    &.fixed {
        top: 72px;
        left: 10%;
        right: 10%;
    }
    h1 {
        font-size: 3em;
        letter-spacing: 0.1em;
        margin: 0.2em;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 0.15em;
        font-size: 2.3em;
        margin: auto;

        td {
            padding: 0.1em 1% 0.05em;
            white-space: nowrap;
            width: 10%;
            @include backTrans(black, -0.8);

            &:first-child, &:last-child {
                @include backTrans(black, -0.6);
            }
            &:first-child {
                color: #ffc614;
                font-weight: 500;
            }
            &:nth-child(2) {
                padding-left: 1em;
                text-align: left;
                width: 66%;
            }
        }
    }
}
