/* CHAMPS */

#Wrap .champs {
    @include backTrans(#5e8206, -0.2);
    margin: 2em 5%;
    padding: 2em;

    h1 {
        font-size: 3em;
        letter-spacing: 0.1em;
        margin: 0.2em;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 0.15em;
        font-size: 2.3em;
        margin: auto;

        td {
            @include backTrans(black, -0.8);
            padding: 0.1em 0.35em 0.05em;

            &:first-child, &:last-child {
                @include backTrans(black, -0.6);
            }
            &:first-child {
                color: #ffc614;
                font-weight: 500;
            }
            &:nth-child(2) {
                padding-left: 1em;
                text-align: left;
                width: 11em;
            }
        }
    }
}
