/* CHROME */

#Chrome {
    header, footer {
        background-color: white;
        box-sizing: border-box;
        width: 100%;
    }
    header {
        box-shadow: 0 0 50px adjTrans(black, -0.6);
        height: 72px;
        padding: 12px 0;
        top: 0;
        z-index: 9;
    }
    footer {
        bottom: 0;
        box-shadow: 0 0 15px adjTrans(black, -0.8);
        height: 36px;
        font-size: 9pt;
        padding: 12px 15px;
        z-index: 2;
    }
}
