/* DEBUG */

@function setTrans($color, $opacity: 0.5) {
    @return rgba($color, $opacity);
}
@mixin setTrans($color, $opacity: 0.5) {
    background-color: $color; /* fallback2 */
    background-color: lighten($color, percentage($opacity/2)); /* fallback1 */
    background-color: setTrans($color, $opacity);
}

.debug {
    #Wrap {
        border: 1px solid lime;
    }
    section {
        border: 1px solid red;
    }
    .construct {
        background: url('../images/policetape.png') 0 0 repeat;
    }
    body .marker {
        border-top: 1px solid red;
        display: block;
        height: 10px;
        left: 2px;
        line-height: 14px;
        position: absolute;
        text-align: right;
        width: 50px;
        z-index: 9999;

        span {
            background-color: rgba(255, 255, 155, 0.5);
            color: green;
            font-size: 11px;
            padding: 0 5px;
        }
    }
    #Chrome {
        background: url('../images/policetape.png') 0 0 repeat;
    }
}
.marker {
    display: none;
}
