/* GALLERY */

#Gallery {
    $pos: 666px;
    $neg: -1 * $pos;

    width: 90%; height: 60%;
    @extend %abscent;

    img {
        @include setEase(all 1.25s ease-out);
        border: 1px solid transparentize($green, 0.8);
        display: inline-block;
        margin: 1.5em;
        position: relative;
        width: 25%;
        z-index: 1;

        &:not(.grid) {
            opacity: 0;
            width: 5% !important;
        }
        &.grid {
            left: 0px !important;
            opacity: 0.6;
            top: 0px !important;
        }
        &:hover {
            @include setEase(all 0.25s ease-out 0.5s);
            @include setTransform( scale(1.66) );
            background-color: $red;
            opacity: 0.8;
            width: 30%;
            z-index: 3;
        }
        &.zoom {
            position: absolute;
            width: 95%;
            opacity: 1;
            top: 3em;
            z-index: 3;
        }
    }

    #Glr1 { left: $neg; top: $neg; }
    #Glr2 { left:  0px; top: $neg; }
    #Glr3 { left: $pos; top: $neg; }
    #Glr4 { left: $neg; top:  0px; }
    #Glr5 { left:  0px; top:  0px; }
    #Glr6 { left: $pos; top:  0px; }
    #Glr7 { left: $neg; top: $pos; }
    #Glr8 { left:  0px; top: $pos; }
    #Glr9 { left: $pos; top: $pos; }

}
