/* GREEN */

@mixin setEase($a, $b, $c) {
    -webkit-transition: $a $b $c;
    -moz-transition: $a $b $c;
    -o-transition: $a $b $c;
    transition: $a $b $c;
}

#Wrap {
    background-color: $green;
    color: white;
    font-family: 'Archer SSm A', 'Archer SSm B', Georgia, serif;
    margin-top: 72px;
    text-align: center;

    .ribbon {
        background-color: transparentize($green, 0.15);
        height: 100px;
        padding: 40px 0;
        width: 100%;

        * {
            line-height: 20px;
            margin: 0;
        }
    }
    .padded {
        margin: 20% auto 0;
    }
    .tbox {
        background-color: transparentize(#eee, 0.25);
        border: 3px solid white;
        border-radius: 2px;
        box-shadow: 0 0 50px transparentize(black, 0.6);
        display: inline-block;
        text-transform: uppercase;

        h1 {
            color: $green;
            font-size: 42px;
            margin: 0.25em 0.75em 0.2em;
        }
    }
    h1 {
        font-size: 42px;
        font-weight: 700;
    }
    h2 {
        font-size: 38px;
        font-weight: 100;
        letter-spacing: -1px;
    }
    h3 {
        font-size: 25px;
        font-weight: 100;
    }
    b {
        font-weight: 700;
    }
    h1, h2, h3 {
        color: white;
        margin: 0.75em;
        /*
        font-weight: 400; //  Light
        font-weight: 500; //  Regular
        font-weight: 600; //  Medium
        font-weight: 700; //  Semibold
        font-weight: 800; //  Bold
        */
    }
}
#X0 article {
    left: 5%;
    top: 22em;
}
#Map {
    background-color: $green;
    border-radius: 1em;
    color: white;
    height: 2.5em;
    opacity: 0.5;
    overflow: hidden;
    padding-top: 0.7em;
    position: fixed;
    right: 1em;
    text-align: center;
    top: 1em;
    width: 5em;
    z-index: 12;

    @include setEase(all, 1s, ease-in);

    h2 {
        font-size: 15px;
        margin-bottom: 1em;
    }
    a {
        color: white;
        display: block;
        font-size: 22px;

        &:hover {
            background-color: $red;
            text-decoration: none;
        }
    }
    &:hover {
        height: 90%;
        opacity: 0.9;
        @include setEase(all, 1s, ease-out);
    }
}
