/* GREEN */

#Wrap {
    /* background: url('../images/misc/policetape.png') 0 0 repeat;*/
    background-color: $green;
    color: white;
    font-family: 'Archer A', 'Archer B', 'Archer', 'Archer SSm A', 'Archer SSm B', Georgia, serif;
    font-style: normal;
    margin-top: 72px;
    overflow: hidden;

    section {
        background: url('../images/misc/swatch.png') 50% 0 no-repeat fixed;
        background-size: cover !important;
        box-shadow: 0 0 50px adjTrans(black, -.2);
        padding: 0px;
        position: relative;
        text-align: center;
        width: 100%;
    }
    .tbox {
        border: 3px solid white;
        border-radius: 2px;
        display: inline-block;
        margin-bottom: 1em;
        text-transform: uppercase;

        h1 {
            margin: 0.25em 0.75em 0.2em;
        }
        &.v1 {
            @include backTrans(#eee, -0.75);

            h1 {
                color: white;
            }
        }
        &.v2 {
            @include backTrans(#eee, -0.25);
            box-shadow: 0 0 50px adjTrans(black, -0.6);

            h1 {
                color: $green;
            }
        }
    }
}
