/* MENU */

#Menu {
    display: none;
    background-color: $green;
    border-radius: 1em;
    bottom: 3px;
    color: white;
    max-height: 30px;
    opacity: 0.5;
    overflow: hidden;
    padding-bottom: 0.5em;
    padding-top: 0.7em;
    position: fixed;
    right: 1em;
    text-align: center;
    width: 7em;
    z-index: 12;
    @include setEase(all 1s ease-in 0.3s);

    h2 {
        font-size: 15px;
        margin-bottom: 1em;
        text-shadow: 0 0 3px adjTrans(black, -0.3);
    }
    p {
        clear: both;
        margin: 2em 0 1em;
    }
    &:hover {
        opacity: 0.9;
        background-color: $red;
    }
    &.hover {
        background-color: gray;
        bottom: 66px;
        box-shadow: 0 0 10px adjTrans(black, -0.3);
        max-height: 90%;
        right: 3em;
        width: 11em;
        @include setEase(all 1s ease-out 0.3s);
    }
    a {
        background-color: adjTrans($green, -0.3);
        border: 1px solid $green;
        border-radius: 0.1em;
        box-shadow: 0px 0 6px adjTrans(black, -0.5);
        color: white;
        display: inline-block;
        font-size: 22px;
        height: 28px;
        margin: 5px;
        overflow: hidden;
        padding: 2px;
        text-decoration: none;
        text-shadow: 1px 1px 1px gray, 0 1px 1px white;
        width: 28px;
        @include setEase(all .5s ease-in);

        &:hover {
            background: url('../images/btns/ball.png') 50% 50% repeat white;
            border-color: gray;
            border-radius: 11em;
            box-shadow: 0px 3px 6px adjTrans(black, -0.3);
            color: $red;
            text-shadow: 1px -1px 1px white, -1px 1px 1px gray;
        }
    }
}
