/* MISC */

$green: #46a033;

section, div {
    box-sizing: border-box;
}
img {
    display: inline-block;
}
section {
    -webkit-transition: all 0.125s ease-out;
    -moz-transition: all 0.125s ease-out;
    -o-transition: all 0.125s ease-out;
    transition: all 0.125s ease-out;
}
.bottom {
    position: absolute;
    bottom: 0;
}
.hide {
    display: none !important;
}
.shadow {
    box-shadow: 0 0 50px transparentize(black, 0.6);
}
.teach {
    background-color: #f1f1f1;
    background: url('../images/4comm/teach.png') 14px 17px no-repeat #f1f1f1;
    display: inline-block;
    margin: 22em auto auto 1em;
}
.arrow {
    border: 0;
    border-radius: 3em;
    display: inline-block;
    height: 45px;
    opacity: 0.8;
    padding: 0;
    width: 45px;

    &:hover {
        background-color: rgba(255, 255, 155, 0.4) !important;
        box-shadow: 0 0 50px transparentize(#333, 0.6);
        opacity: 1;
    }
    &:active {
        box-shadow: 0 10px 20px transparentize(white, 0.8);
    }
    &.left {
        background: url('../images/0chrome/arrows.png') 0 0 no-repeat;
    }
    &.right {
        background: url('../images/0chrome/arrows.png') -45px 0 no-repeat;
    }
}
.center {
    display: block;
    margin: auto;
}
.debug {
    #Wrap {
        border: 1px solid lime;
    }
    section {
        border: 1px solid red;
    }
}
