/* MISC */

.bottom {
    position: absolute;
    bottom: 0;
}
.hide {
    display: none !important;
}
.shadow {
    box-shadow: 0 0 50px adjTrans(black, -0.6);
}
.btnLabel {
    color: $red;
    float: right;
    font-size: 80%;
    font-weight: 900;
    margin: -0.5em;
    text-transform: uppercase;
    word-spacing: 3px;

    button {
        vertical-align: middle;
    }
}
.callout {
    background-color: $whitish;
    bottom: 9em;
    color: $green;
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 15em auto auto 1em;
    max-width: 36em;
    padding: 1em;
    position: absolute;

    p {
        font-weight: 200;
        text-align: left;
    }
}
.reading {
    background: url('../images/misc/par.png') 1em 0.5em no-repeat $whitish;
    background-size: 35%;
    padding-top: 5em;
}
.succeed {
    background: url('../images/misc/succeeding.png') 1em 1em no-repeat $whitish;
    background-size: 35%;
    padding-top: 4em;
}
.tending {
    bottom: 14em;
    width: 22em;
    h4 {
        text-align: left;
    }
}
.center {
    display: block;
    margin: auto;
}
.marker {
    display: none;
}
.darken > * {
    background-color: adjTrans(black, -0.4);
}
.padded {
    @extend %abscent;
}
.filler {
    height: 100%;
    width: 100%;
    padding: 1px;
}
.champs {
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
}
._bname, ._cname {
    text-transform: uppercase;
}
