/* PARA */

html {
    background-color: #aaa;
    height: 100%;
    margin: 0;
}
div {
    box-sizing: border-box;
}
h1 {
    font-size: 3em;
}
p {
    margin-bottom: 0.25em;
    margin-top: 0.75em;
}

#Wrap section {
    background: url('../images/0chrome/swatch.png') 50% 0 no-repeat fixed;
    background-size: cover !important;
    box-shadow: 0 0 50px rgba(0,0,0,0.4);
    margin: 0 auto;
    min-height: 640px;
    height: 100%;
    position: relative;
    width: 100%;
}
#Wrap section article {
    color: #ffffff;
    //position: absolute;
    z-index: 9999;
}

.alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)';
}
