/* RESPOND */

html.desktop {
    body, .fixed {
        min-width: 958px;
        max-width: 1918px;
    }
}
html.mobile {
    body, .fixed {
        min-width: 478px;
        max-width: 798px;
    }
    #Chrome {
        header {
            position: absolute;
        }
        footer {
            height: 26px;
            padding: 6px 0;
            position: relative;
        }
    }
    #Wrap {
        section {
            background-attachment: initial;
            background-size: auto;
            min-height: 500px;
        }
        .ribbon {
            padding: 1.5em;
            img {
                height: 33px;
            }
        }
        .callout {
            font-size: 1.5em !important;
            left: 0 !important;
            right: 1em !important;
            bottom: 5.5em !important;
        }
        #Gallery {
            img {
                height: 8em;
            }
        }
        h2, h3 {
            font-size: 1.8em !important;
            line-height: 1.1em;
        }
    }
}
html.msie.desktop {
    body {
        border: 2px solid darkgreen;
    }
    body, #Chrome, header, footer {
        max-width: 1200px;
        margin: auto;
    }
}
