/* GREEN */

#Wrap {
    .ribbon {
        background-color: transparentize($green, 0.15);
        font-size: 1em;
        height: 7.5em;
        padding: 2.5em 0;
        width: 100%;
        z-index: 1;

        h2, h3 {
            font-weight: 200;
            line-height: 0.9em;
            margin: 0;

            b {
                font-weight: 500;
            }
        }
        &.overlay {
            background-color: transparent;
            display: none;
            height: 5%;
            padding: 0;
            z-index: 99;

            :hover & {
                display: block;

                * {
                    color: transparentize(white, 0.5);
                    text-shadow: 0 0 3px transparentize(black, 0.5);
                }
            }
        }
        &.whiten {
            background-color: $whitish;

            img {
                display: inline;
                vertical-align: middle;
                height: 66px;
                margin: -1.5em 0;
            }
            h2 {
                color: black;
                font-weight: 500;
                font-size: 2em;

                b {
                    font-size: 1.5em;
                    font-weight: 600;
                    color: $red;
                }
            }
        }
    }
}
