/* RIBBON */

#Wrap {
    .ribbon {
        @include backTrans($green, -0.15);
        font-size: 1em;
        height: 7.4em;
        padding: 2.2em 0;
        width: 100%;
        z-index: 1;

        h2, h3 {
            font-weight: 200;
            line-height: 0.9em;
            margin: 0;
        }
        &.overlay {
            font-family: Verdana;
            font-size: 50%;
            height: 3em;
            letter-spacing: 11px;
            opacity: 0;
            padding: 0.5em;
            position: absolute; // position: fixed;
            text-shadow: 1px 2px 3px adjTrans(black, -0.1);
            top: 100px;
            z-index: 33;
            @include backTrans(gray, -1);
            @include setEase(all 0.25s ease-out 0.5s);

            :hover & {
                display: block;
                letter-spacing: 1px;
                opacity: 0.9;
            }
        }
        &.whiten {
            @include backTrans(white, -0.1);

            img {
                display: inline;
                vertical-align: middle;
                height: 66px;
                margin: -1.5em 0;
            }
            h2 {
                color: black;
                font-weight: 500;
                font-size: 2em;

                b {
                    font-size: 1.5em;
                    color: $red;
                }
            }
        }
    }
}
