/* DEBUG */

.debug body {
    background: url('../images/test/parallax.png');
    /* no-repeat scroll center top transparent */
    padding-right: 15em;
}
.debug #Map {
    background: rgba(255, 255, 255, 0.6);
    border: 3px solid gray;
    position: fixed;
    top: 0;
    right: 0;
    width: 15em;
    height: 100%;
}
.debug section.background {
    border: 1px solid red;
    max-width: 1200px;
}
.debug section {
    -webkit-transition: all 0.12s ease-out;
    -moz-transition: all 0.12s ease-out;
    -o-transition: all 0.12s ease-out;
    transition: all 0.12s ease-out;
}
.debug #Wrap {
    background: rgba(111, 111, 111, 0.9);
    border: 2px solid green;
}
.debug #D1,
.debug #D2,
.debug #D3,
.debug #D5,
.debug #D6 {
    background-color: lime;
}
