/* GREEN */

body {
}
#Wrap {
    background-color: #46a033;
}
section {
    overflow: hidden;
}
#Header {
    position: fixed;
    top: 0;
    z-index: 9999;
}
#X1 {
    background: url('../images/1drive/_back.jpg') 50% 0 no-repeat fixed;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    height: 1200px;
}
#X2 {
    background: url('../images/2holes/_back.jpg') 50% 0 no-repeat fixed;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#X3 {
    background: url('../images/3beauty/_back.jpg') 50% 0 no-repeat fixed;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#X4a {
    background: url('../images/4comm/_back1.jpg') 50% 0 no-repeat fixed;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#X4b {
    background: url('../images/4comm/_back2.jpg') 50% 0 no-repeat fixed;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#X5 {
    background: url('../images/5close/_back.jpg') 50% 0 no-repeat fixed;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#X6 {
    height: 600px;
}

#X0 article {
    left: 5%;
    top: 22em;
}



