/* GREEN */
$green: #46a033;

@mixin setEase($a, $b, $c) {
    -webkit-transition: $a $b $c;
    -moz-transition: $a $b $c;
    -o-transition: $a $b $c;
    transition: $a $b $c;
}

#Wrap {
    background-color: $green;
    margin-top: 72px;
}
#X0 article {
    left: 5%;
    top: 22em;
}
#Chrome {
    div {
        background-color: white;
        opacity: 0.9;
    }
}

#Header {
    box-shadow: 0 0 50px rgba(0,0,0,0.4);
    height: 72px;
    padding: 12px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#Map {
    background-color: $green;
    border-radius: 1em;
    color: white;
    height: 2.5em;
    opacity: 0.5;
    overflow: hidden;
    padding-top: 0.7em;
    position: fixed;
    right: 1em;
    text-align: center;
    top: 1em;
    width: 5em;
    z-index: 12;
    @include setEase(all, 1s, ease-in);

    h2 {
        font-size: 15px;
        margin-bottom: 1em;
    }
    a {
        display: block;
        font-size: 22px;
    }
    &:hover {
        height: 90%;
        opacity: 0.9;
        @include setEase(all, 1s, ease-out);
    }
}
#Slug {
    bottom: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    height: 40px;
    font-size: 9pt;
    padding: 5px 15px;
    position: fixed;
    width: 100%;
    z-index: 3;
}
