/* SCREEN */
@import "_def";

//  font-weights
//    400 = Light     500 = Regular
//    600 = Medium    700 = Semibold
//    800 = Bold

@import "_debug";
@import "_champs";
@import "_chrome";
@import "_gallery";
@import "_green";
@import "_ribbon";
@import "_misc";
@import "_text";

html.desktop {
    body, .fixed {
        min-width: 1000px;
        max-width: 1800px;
    }
}
html.mobile {
    body, .fixed {
        min-width: 480px;
        max-width: 960px;
    }
    #Wrap {
        .ribbon {
            padding: 1.5em;
            img {
                height: 33px;
            }
        }
        .callout {
            font-size: 1.5em !important;
            left: 0 !important;
            bottom: 5.5em !important;
        }
        #Gallery {
            img {
                height: 8em;
            }
        }
        h2, h3 {
            font-size: 1.8em !important;
            line-height: 1.1em;
        }
    }
}
html {
    background-color: darken($green, 10%);
}
body {
    background-color: black;
    font-size: 10px;
    margin: auto;
}
img {
    display: block;
    margin: auto;
}
section, div {
    box-sizing: border-box;
}
section {
    @include setEase(all 0.125s ease-out);
}
sup {
    font-size: 0.6em;
}

/*::-moz-selection{ background-color: transparent; color: inherit; text-shadow: none; }*/
::selection { background-color: transparent; color: inherit; text-shadow: none; }
